NEXT_PUBLIC_API_URL=http://192.168.100.154:8000/api/v1
NEXT_PUBLIC_DJANGO_ORIGIN=http://192.168.100.154:8000
API_PROXY_TARGET=http://192.168.100.154:8000

NEXT_PUBLIC_DASHBOARD_URL=http://localhost:5173
NEXT_PUBLIC_SITE_URL=http://localhost:8081
NEXT_PUBLIC_LAN_HOST=192.168.100.154
